<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Logout</title>
    <link rel="stylesheet" href="https://daisyui.com/_app/assets/pages/__layout.svelte-e69cdd76.css">
</head>
<body class="flex justify-center">
<div class="card w-96 bg-primary text-primary-content mt-32">
    <div class="card-body">
        <h2 class="card-title">Alert</h2>
        <p>Unauthorized Access!</p>
        <div class="card-actions justify-end">
            <a class="btn" th:href="@{/profile}">Go Back</a>
        </div>
    </div>
</div>
</body>
</html>