<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Round">
<link rel="stylesheet" href="CSS/style.css">
<script type="text/javascript" src="../Control/JS/jquery-3.6.0.min.js"></script>
<script src="../Control/JS/script.js"></script>
<script src="../Control/JS/ajax.js"></script>

<div class="store-management">
    <div class="homepage-control" id="homepage-trending-games">
        <div class="store-management-title">Trending Games</div>
        <div class="add-item">
            <input type="text" name="" id="">
            <button type="submit" class="button">Add</button>
        </div>
        <div id="trending-game-list">
            <script>showTrendingGames();</script>
        </div>
        <button type="button" class="button" id="updatetrendinggamesbutton">Update</button>
    </div>
</div>